
body{margin:0px;padding:0px;background:#FFFFFF;overflow:auto;}
body,table,input,select,form,div,textarea{font-family:verdana,tahoma,arial;font-size:12px;color:#000000;word-break:break-all;}
table,img{border:0px;}

a{text-decoration:none;color:#1149FF;}
a:hover{color:#000000;text-decoration:underline;}

td{vertical-align:top;}

#idHeadTable{width:100%;height:25px;color:#FFFFFF;}
#idHeadTable td{padding:1px 10px 0px 10px;white-space:nowrap;vertical-align:middle;}
#idHeadTable a{color:#FFFFFF;}
#idHeadTable a:hover{color:#EEEAEA;text-decoration:none;}
#idTrademarkTD{background:#000000;font-weight:bold;}
#idSelectTD{background:#005599;letter-spacing:1px;text-align:right;}
#idSelect{width:220px;font-size:10px;}

#idContent{padding:25px 15px;line-height:19px;}
#idContentTitle{border-bottom:1px solid #666666;padding-top:20px;white-space:nowrap;}
#idTitleName{width:254px;font-size:18px;font-weight:bold;line-height:24px;}
.cssNone{color:#C00000;}
.cssDefault{color:#FF3300;}
td.cssVersion{font-size:10px;font-family:tahoma;font-weight:bold;padding:0px 10px;color:#666666;vertical-align:text-top;line-height:16px;}

.cssColumnTitle{letter-spacing:1px;padding:34px 0px 12px 0px;color:#003399;}

#idSimpleCode{font-size:11px;padding:11px;font-family:verdana,tahoma;background-color:#EFEFEF;width:80%;}

#idCodeDIV{padding:34px 0px 14px 0px;}
#idCodeDIV input{padding:1px 18px 0px 18px;margin:0px 3px;}
#idCodeArea{border:1px solid #CCCCCC;width:80%;padding:12px 24px;line-height:17px;font-size:11px;display:none;margin:20px 0px;}

#idFootnote{margin-top:30px;padding-top:10px;border-top:1px solid #000000;width:100%;}
#idCopyright{font-size:10px;}

.cssCommonTable{background-color:#CCCCCC;font-size:11px;font-family:verdana,arial,tahoma;width:90%;} 
.cssCommonTable td{padding:5px 10px;background-color:#FFFFFF;text-align:left;vertical-align:middle;line-height:16px;}
.cssCommonTable td.cssIETD{font-weight:bold;width:60px;}
.cssCommonTable td.cssHeadTD{font-weight:bold;white-space:nowrap;}

a.cssIEA{display:inline-block;width:130px;font-family:tahoma,verdana,arial;color:#003399;font-size:11px;}
a.cssIEA:hover{color:#000000;text-decoration:underline;}

.cssIEA{font-family:tahoma,verdana,arial;font-size:11px;white-space:nowrap;text-align:left;}

@media all{
rdl\:param{font-style:italic;}
}

/* Part of RDL(TM) - Written by Rain1977 */
/* HomeSite: http://www.dhtmlet.com  E-Mail: dhtmlet@hotmail.com */